modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BEPrDutnCsuiU2CufcH8ZOUb6iGlhUXeawruUvdXNW-26U4uU3jHujaRnMXXaiqbIQG0C-WCfyGAa0JnZdvbKtA"
VAPID_PRIVATE_KEY = "z27i9oS3YZOp1phD7CzUj4sgLp5hxvONARpwhBwvjBY"
ADMIN_SECRET = "0e0093d88a0ea66ac77164aab7e84950"
