modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Pro Tour"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21861 BASE_PATH=/ pnpm --filter @workspace/darts-career run dev"
waitForPort = 21861

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Pro Tour"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=19720 BASE_PATH=/pro-tour/ pnpm --filter @workspace/pro-tour run dev"
waitForPort = 19720

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BEPrDutnCsuiU2CufcH8ZOUb6iGlhUXeawruUvdXNW-26U4uU3jHujaRnMXXaiqbIQG0C-WCfyGAa0JnZdvbKtA"
VAPID_PRIVATE_KEY = "z27i9oS3YZOp1phD7CzUj4sgLp5hxvONARpwhBwvjBY"
ADMIN_SECRET = "0e0093d88a0ea66ac77164aab7e84950"
